@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  To United Cousins App</h1>
    <p>This app keeps and tracks the members info and their contributions.</a>.</p>
</div>
